<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntroSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80D7B63D1D33CF4500F5991B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D7B6511D33CF4500F5991B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D7B65C1D33CF4500F5991B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
